<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ProvisionsPall</title>

        <!-- Here is Jquery script element -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

        <!-- CSS and JS script element for the dashboard-->
        <link href="../static/styles/dashboard-mobile.css" rel="stylesheet">
        <link href="../static/styles/dashboard.css" rel="stylesheet">

        <script src="../static/scripts/dashboard.js" defer></script>

        <!-- CSS and JS script element for geolocating store -->
        <script src="../static/scripts/geolocate.js" defer></script>
        

        
        <!-- Leaflet CSS -->
         <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
         integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
         crossorigin=""/>
        
         <!-- Leaflet JavaScript -->
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>

        <!-- OpenRouteService plugin -->
        <script src="https://unpkg.com/leaflet-routing-machine@5.3.14/dist/leaflet-routing-machine.js"></script>

        <!-- google map api integration -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVB4Znhna_pQVJyVr7hbeeKUEkSyFMenc&libraries=places"></script>

    </head>
    <body>
        <header>

        </header>
            <nav>

            </nav>
            <section role="navigation" style="max-height: 30%;">
                <nav class="user_container">
                    <img src="../static/images/CaadatechMachieFLyer.jpg" 
                        alt="Here is the user's picture" 
                        class="user_image_normal">
                    <nav role="navigation">
                        <button id="view" class="style_button">View user</button>
                        <button id="edit" class="style_button">Edit store details</button>
                        <button id="produce" class="style_button">View products </button>
                        <button id="create" class="style_button">Create products</button>
                    </nav>
                    <hr/>
                </nav>
                <aside id="aside" class="invisible">
                    <aside id="blur" class="opacity"></aside>
                    <div class="user">
                        <img src="../static/images/chinonso.jpg" 
                        alt="Here is the user's picture" 
                        width="100px" 
                        height="100px"
                        class="user_image">
                        <button id="close" class="style_button">close</button>
                        <div class="user_details"> 
                            <h2>USER DETAILS</h2>
                            <h4>User name: Chinonso</h4>
                            <h4>Company name: Cadaservices</h4>
                            <h4>Number of stores: 4</h4>
                            <h4>Number of Products: 1200</h4>
                            <h3>Current location of stores</h3>
                            <ul>
                                <li>Lagos Nigeria</li>
                                <li>Abuja Nigeria</li>
                                <li>Minna, Niger State</li>
                                <li>Lagos Nigeria</li>
                                <li>Abuja Nigeria</li>
                                <li>Minna, Niger State</li>
                                <li>Lagos Nigeria</li>
                                <li>Abuja Nigeria</li>
                                <li>Minna, Niger State</li>
                            </ul>
                        </div>
                        <hr/>
                    </div>
                </aside>
        </section>
        <main class="style_button dashboard" role="presentation">

            <section class="dashboard_action invisible" role="form" aria-label="Edit store details">
                             
                <button id="submit" class="style_button submit_button">Save</button>         
            </section>
               
            
            <section class="view_products invisible" role="form" aria-label="Edit store details">
                    
            </section>


            <section class="create_products invisible" role="form" aria-label="Edit store details">
                   
            </section>
        </main>
       <footer>

        <address></address>

       </footer>
    </body>
</html>