<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
            content="This is the dashboard page which the users use to manage their product">
        <meta name="author" content="Morba Chinonso">

        <meta property="og:title"
            content="dashboard page for users of ProvisionsPall">
        <meta property="og:description"
            content="This is the webpage for the users dashboard">
        <meta property="og:image"
            content="URL to an image associated with the content">
        <meta property="og:url" content="www.ProvisionsPall.com">

        <title>ProvisionsPall</title>

        <!-- Here is Jquery script element -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

        <!-- CSS and JS script element for the dashboard-->
        <link href="../static/styles/dashboard-mobile.css?{{ cache_id }}"
            rel="stylesheet">
        <link href="../static/styles/dashboard.css?{{ cache_id }}"
            rel="stylesheet">

        <script src="../static/scripts/dashboard.js?{{ cache_id }}" defer></script>
        <script src="../static/scripts/geolocate.js?{{ cache_id }}" defer></script>
    </head>
    <body>

        <section role="navigation" style="max-height: 30%;">
            <header class="page_header">
                <a href="/market" class="login-link2">ProvisionsPall</a>
                <a href="/market" class="login-link style_button style_input">Market
                    Place</a>
            </header>
            <nav class="user_container">
                <img
                    src="../static/images/CaadatechMachieFLyer.jpg?{{ cache_id }}"
                    alt="Here is the user's picture"
                    class="user_image_normal">
                <nav role="navigation">
                    <button id="view" class="style_button"
                        data-store_ids="{{ storedata }}"
                        data-user_id="{{ userdata.id }}">View user</button>
                    <button id="edit" class="style_button">Edit store details</button>
                    <button id="produce" class="style_button">View products
                    </button>
                    <button id="create" class="style_button">Create products</button>
                </nav>
                <hr />
            </nav>
            <aside id="aside" class="invisible">
                <aside id="blur" class="opacity"></aside>
                <div class="user">
                    <img src="../static/images/chinonso.jpg?{{ cache_id }}"
                        alt="Here is the user's picture"
                        width="100px"
                        height="100px"
                        class="user_image">
                    <button id="close" class="style_button">close</button>
                    <div class="user_details" data-store_ids="{{ storedata }}"
                        data-user_id="{{ userdata.id }}">
                        <h3>USER DETAILS</h3>
                        <h4>User name: {{ userdata.username }}</h4>
                        <h4>Company name: {{ userdata.company_name}}</h4>
                        <h4>Number of stores: {{ stores }}</h4>
                        <h4>Number of Products: {{ products }}</h4>
                    </div>
                    <button id="store" class="style_button"
                        aria-label="Click this button to create store">Create a
                        Store</button>
                    <hr />
                </div>
            </aside>
            <section aria-labelledby="store" class="create_store invisible">
                <aside id="blur" class="opacity"></aside>
                <main class="user">
                    <button id="close2" class="style_button">close</button>
                    <input class="style_input store_input" value type="text"
                        name="name"
                        aria-label="This is where you type the store name"
                        placeholder="Input name of store" id="name">
                    <input class="style_input store_input" value type="text"
                        name="description"
                        aria-label="This is where you type the description"
                        placeholder="Type the description of your store"
                        id="description">
                    <input class="style_input store_input" value type="text"
                        name="number"
                        aria-label="This is where you type the house number"
                        placeholder="Type the house number" id="number">
                    <input class="style_input store_input" value type="text"
                        name="street"
                        aria-label="This is where you type the street number"
                        placeholder="Type the street number" id="street">
                    <input class="style_input store_input" value type="text"
                        name="area"
                        aria-label="This is where you type the area"
                        placeholder="Type the area" id="area">
                    <input class="style_input store_input" value type="text"
                        name="city"
                        aria-label="This is where you type the city"
                        placeholder="Type the city" id="city">
                    <input class="style_input store_input" value type="text"
                        name="country"
                        aria-label="This is where you type the country"
                        placeholder="Type the country" id="country">
                    <input class="style_input store_input" value type="text"
                        name="longitude"
                        aria-label="This is where you type the city"
                        aria-disabled="true"
                        id="longitude" readonly title="This field is readonly">
                    <input class="style_input store_input" value type="text"
                        name="longitude"
                        aria-label="This is where you type the city"
                        aria-disabled="true"
                        id="latitude" readonly title="This field is readonly">
                    <button id="submit_store" class="style_button">Create</button>
                </main>
            </section>
        </section>
        <main class="style_button dashboard" role="presentation">
            <section class="dashboard_action invisible" role="form"
                aria-label="Edit store details">
            </section>
            <section class="view_products invisible" role="form"
                aria-label="View products">
                <label for="mySelect2">Please select the store: </label>
                <select id="mySelect2" class="style_input store_input"></select>
                <section aria-label="These are products"></section>
            </section>
            <section class="create_products invisible" role="form"
                aria-label="Create a product">
                <label for="mySelect">Please select the store: </label>
                <select id="mySelect" class="style_input store_input"></select>
                <h4 id='upper'> Add a new product:</h4>
                <input class="style_input store_input" value type="text"
                    name="name2"
                    aria-label="This is where you type the product name"
                    placeholder="Input name of product" id="name2">
                <input class="style_input store_input" value type="text"
                    name="description2"
                    aria-label="This is where you type the description"
                    placeholder="Type the description of your product"
                    id="description2">
                <input class="style_input store_input" value type="text"
                    name="price"
                    aria-label="This is where you type the price"
                    placeholder="Type the price" id="price">
                <input class="style_input store_input" value type="text"
                    name="category"
                    aria-label="This is where you type the category"
                    placeholder="Type the category" id="category">
                <button id="submit_store2" class="style_button submit_button">Create</button>
            </section>
        </main>
        <footer></footer>
    </body>
</html>