<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <script src="login.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/styles/login.css">
</head>
<body>

    <div class="login-container">
        <h2>Login</h2>
        <form action="/login" method="post" class="container">
        
            <input type="text" placeholder="Username" id="username" name="username" title="Please enter only letters" required> </br>

        
            <input type="password" placeholder="Password" id="password" name="password" title="Please enter only letters and numbers" required> </br>

            <div>
                <input type="checkbox" id="remember" name="remember"> Remember Me
            </div> </br>

            <button type="submit" class="button">Login</button>
        </form>
    </div>
</body>