<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <script src="login.js"></script>
</head>
<body>

    <div class="login-container">
        <h2>Login</h2>
        <form onsubmit="login(event)" action="/login" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" pattern="[A-Za-z]+" title="Please enter only letters" required> </br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" pattern="[A-Za-z0-9]+" title="Please enter only letters and numbers" required> </br>

            <label>
                <input type="checkbox" id="remember" name="remember"> Remember Me
            </label> </br>

            <button type="submit">Login</button>
        </form>
    </div>

</body>
</html>