<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Market Place</title>

    <link rel="stylesheet" type="text/css"
      href="../static/styles/dashboard-mobile.css?{{ cache_id }}">
    <link rel="stylesheet" type="text/css"
      href="../static/styles/dashboard.css?{{ cache_id }}">
    <link rel="stylesheet" type="text/css"
      href="../static/styles/marketplace.css?{{ cache_id }}">

    <script src="{{ url_for('static', filename='scripts/market.js') }}" defer></script>

    <!-- Here is Jquery script element -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  </head>

  <body>

    <section class="container">
      <a href="/market" class="login-link2">ProvisionsPall</a>
      <input type="text" id="searchBar" name="search_text" class="search_text"
        placeholder="Search...." value>
      {% if not logged %}
      <a href="/login" class="login-link style_button style_input bigDevice">Login</a>
      <a href="/register" class="login-link style_button style_input bigDevice">Register</a>
      {% endif %}

      <a href="/dashboard" class="login-link style_button style_input bigDevice">My
        Dashboard</a>
      <!-- <aside class="addDevice"> -->
      <aside class="device">
        <h1 class="smallDevice">+</h1>
        <a href="/dashboard" class="asideItem invisible">My Dashboard</a>
        {% if not logged %}
        <a href="/login" class="asideItem invisible">Login</a>
        <a href="/register" class="asideItem invisible">Register</a>
        {% endif %}

      </aside>
      <!-- </aside> -->
    </section>

    <div class="image-grid" data-cache="{{ cache_id }}">
      {% for store in stores %}
      <a href='/market/store/{{ store.id }}?{{ cache_id }}' class="card"
        data-id="{{ store.id }}">
        <img
          src="{{ url_for('static', filename='uploads/' + store.image) }}"
          alt="Store Image">
        <div class="card-content">
          <h2 class="card-title">{{ store.name }}</h2>
          <p class="card-description">{{ store.description }}</p>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>

    <div class="footer">
      <p>&copy; 2023 ProvisionsPall. All Rights Reserved.</p>
    </div>

  </body>
</html>