<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Store</title>
        <link rel="stylesheet" type="text/css"
            href="{{ url_for('static', filename='styles/dashboard-mobile.css') }}">
        <link rel="stylesheet" type="text/css"
            href="{{ url_for('static', filename='styles/dashboard.css') }}">
        <link rel="stylesheet" type="text/css"
            href="{{ url_for('static', filename='styles/marketplace.css') }}">

        <script src="{{ url_for('static', filename='scripts/market.js') }}"
            defer></script>
        <!-- Here is Jquery script element -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    </head>
    <body>
        <section class="container">
            <input type="text" id="searchBar" name="search_text"
                class="search_text"
                placeholder="Search...." value>
            <a href="/store/{{ products[0].store_id }}"
                class="login-link style_button style_input bigDevice">Locate
                me</a>
            <button id="address"
                class="login-link style_button style_input bigDevice"
                data-store="{{ products[0].store_id }}">Show
                address</button>
            <a href="/market"
                class="login-link style_button style_input bigDevice">Market
                Place</a>
            <a href="/dashboard"
                class="login-link style_button style_input bigDevice">My
                Dashboard</a>
            <!-- <aside class="addDevice"> -->
            <aside class="device">
                <h1 class="smallDevice">+</h1>

                <a href="/store/{{ products[0].store_id }}"
                    class="asideItem invisible">Locate me</a>
                <a id="address2" class="asideItem invisible"
                    data-store="{{ products[0].store_id }}">Show address</a>
                <a href="/market" class="asideItem invisible">Market Place</a>
                <a href="/dashboard" class="asideItem invisible">My Dashboard</a>
            </aside>
            <!-- </aside> -->

            <aside id="aside" class="invisible">
                <aside id="blur" class="opacity"></aside>
                <address aria-label="Here is the store address invisible"
                    class="user"
                    id="store_address">
                    <button id="close" class="style_button">close</button>
                </address>
            </aside>
        </section>

        <div class="image-grid" data-cache="{{ cache_id }}">
            {% for product in products %}
            <div class="card" data-id="{{ product.id }}">
                <img
                    src="{{ url_for('static', filename='uploads/' + product.image) }}"
                    alt="Store Image">
                <div class="card-content">
                    <h2 class="card-title">{{ product.name }}</h2>
                    <p class="card-description">{{ product.category }}</p>
                    <p class="card-title">$ {{ product.price }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="footer">
            <p>&copy; 2023 ProvisionsPall. All Rights Reserved.</p>
        </div>
    </body>
</html>