<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register Page</title>
        <script src="register.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/styles/login.css">
        <link rel="stylesheet" type="text/css"
            href="../static/styles/register.css">
    </head>
    <body>
        <section class="register-container">
            <form id="registrationForm" action="/register" method="post"
                onsubmit="validationForm(event)" class="container" role="form">
                <h2>Register</h2>
                <input type="text" placeholder="First name" id="firstname"
                    name="first_name"
                    title="Please enter only letters" required>

                <input type="text" placeholder="Last name" id="lastname"
                    name="last_name"
                    title="Please enter only letters" required>

                <input type="text" placeholder="Username" id="username"
                    name="username"
                    title="Please enter only letters" required>

                <input type="email" placeholder="Email" id="email" name="email"
                    required>

                <input type="password" placeholder="Password" id="password"
                    name="password" 
                    title="Please enter only letters and numbers" required>

                <input type="password" placeholder="Confirm Password"
                    id="confirmPassword" name="password"
                    title="Please enter only letters and numbers" required>

                <div class="error" id="passwordError"></div>

                <button type="submit" class="button">Register</button>
            </form>
            <aside>
                <h5>Already have an account? <a href="/login">Login</a></h5>
            </aside>
        </section>

    </body>
</html>