<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title> 
    <script src="register.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/styles/login.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/register.css">
</head>
<body>

    <div class="register-container">
        <h2>Register</h2>
        <form id="registrationForm" action="/register" method="post" onsubmit="validationForm(event)" class="container">
            <div>
            <input type="text" id="username" name="username" placeholder="username" pattern="[A-Za-z]+" title="Please enter only letters" required>
                </div>

                <div>
            <input type="email" id="email" placeholder="email" name="email" required> 
                </div>

                <div>
            <input type="password" id="password" name="password" placeholder="password" pattern="[A-Za-z0-9]+" title="Please enter only letters and numbers" required> 
                    </div>

                <div>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="confirm password" pattern="[A-Za-z0-9]+" title="Please enter only letters and numbers" required>
                    </div>


            <div class="error" id="passwordError"></div>

            <button type="submit">Register</button>
        </form>
    </div>

    <h4>Already have an account?</h4> </br>
    <a href="/login.html">Login</a>

</body>
</html>