/* Desktop Styles (1024px and above) */
@media screen and (min-width: 1024px) {
    /* Apply desktop-specific styles here */

    /* Dashboard section */
    .dashboard {
        top: 230px;
        margin: 10px 20px 10px 10px;

    }

    .store_input {
        width: 350px !important;
        height: 30px;
        font-size: 15px;
    }

    .user {
        left: 200px;
        margin: 50px;
        width: 500px;
        height: 500px;
    }

    .user_container {
        height: 150px;
    }

    .user_container button,
    #store,
    .login-link,
    .submit_button,
    #close,
    #close2,
    #submit_store {
        max-height: 30px;
        min-height: 20px;
        min-width: 30px;
        font-size: 15px;
        font-weight: 20px;

    }
     

    .user_image_normal {

        height: 75px;
        width: 75px;
    }

}