/* Mobile Styles (up to 767px) */
/* Apply mobile-specific styles here */
:root {
    --primary-color: #1abc9c;
    /* Turquoise */
    --secondary-color: #16a085;
    /* Green Sea */
    --accent-color: #2ecc71;
    /* Emerald */
}

button {
    cursor: pointer;
}

.create_store {
    padding-top: 10px;
}

/* Dashboard section */
.dashboard {
    position: absolute;
    top: 150px;
    left: 7.5%;
    padding: 10px;
    margin: 10px 20px 10px 10px;
    width: 80%;
}

.dashboard_action,
.create_products,
.view_products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 90%;
    margin-bottom: 30px;
}

.dashboard_action h4,
.create_products h4,
.view_products h4 {
    font-size: 20px;
    font-weight: bolder;
}

.dashboard_action h5,
.create_products h5,
.view_products h5 {
    color: var(--primary-color);
    font-size: 15px;
    margin: 0px;
    font-weight: bold;
}

.dashboard_action h6,
.create_products h6,
.view_products h6 {
    font-size: 10px;
    margin: 0px;
    font-weight: lighter;
}

.end {
    position: fixed;
    bottom: 40px;
    right: 60px;
}

.label_me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 90%;
}

.page_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.style_input {
    margin-bottom: 10px;
    margin-left: 10px;
    max-width: 400px;
    max-height: 150px;
    border-radius: 3.5px;
    border: 1px var(--accent-color) solid;
    padding: 5px;
}

.style_input:focus,
.style_input:hover,
#searchBar:hover,
#searchBar:focus {
    outline-color: var(--accent-color);
    border-color: var(--accent-color);
}

.submit_button {
    max-width: 70px;
    background-color: var(--primary-color);
    margin: 10px;
}

.top {
    position: fixed;
    top: 100px;
    right: 60px;
}

/* User details section*/
aside#blur {
    background-color: var(--accent-color);
    position: absolute;
    top: 0px;
    height: 1000px;
    width: 100%;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    z-index: 3;
}

#close,
#close2 {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bolder;
}

hr {
    max-width: 300px;
    border: 1px var(--accent-color) solid;
}

.invisible {
    display: none;
}

#latitude[readonly],
#longitude[readonly] {
    cursor: not-allowed;
    opacity: 0.7;
}

.login-link {
    text-decoration: none;
    color: inherit;
}

.login-link2 {
    text-decoration: none;
    font-size: 25px;
    color: var(--primary-color);
    padding: 5px;
}

.login-link2:hover,
.login-link2:focus {
    color: var(--secondary-color);
    font-size: 20px;
}

.opacity {
    opacity: 0.7;
}

.style_button {
    border-radius: 3.5px;
    border: 1px var(--secondary-color) solid;
    box-shadow: 0.5px 0.3px 0.1px var(--accent-color);
}

.user {
    position: absolute;
    top: 10px;
    left: 5px;
    margin: 15px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    width: 250px;
    height: 500px;
    border: 1px #ccc solid;
    border-radius: 10px;
    padding: 15px;
    background-color: #fff;
    /* color: white; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 3;
}

.user_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    height: 100px;
}

.user_container button,
.login-link,
.submit_button,
#close,
#close2,
#submit_store,
#store {
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 20px;
    max-height: 30px;
}

.user_container button:focus,
#close:focus,
#store:focus,
#close2:focus,
.login-link:focus,
#submit_store:focus,
.submit_button:focus,
.user_container button:hover,
#close:hover,
#store:hover,
#close2:hover,
.login-link:hover,
#submit_store:hover,
.submit_button:hover {
    color: white;
    background-color: var(--accent-color);
}

.user_details {
    height: 400px;
    width: 100%;
    overflow-y: scroll;
}

.user_details h2 {
    font-size: 20px;
}

.user_details h3 {
    font-size: 17px;
}

.user_details h4 {
    font-size: 15px;
}

.user_image {
    background-color: var(--accent-color);
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.user_image_normal {
    background-color: var(--secondary-color);
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.user_image_normal:hover {
    opacity: 0.7;
    background-color: var(--secondary-color);
}

/* Tablet Styles (768px - 1023px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* Apply tablet-specific styles here */

    /* Dashboard section */
    .dashboard {
        top: 200px;
    }

    .store_input {
        width: 250px !important;
        height: 25px;
        font-size: 12px;
    }

    .user {
        left: 150px;
        margin: 25px;
        width: 350px;
        height: 350px;
    }

    .user_container button,
    #store,
    #submit_store {
        min-height: 30px;
        min-width: 30px;
        font-size: 12px;
    }

    .user_container {
        height: 150px;
    }

    .user_image_normal {

        height: 75px;
        width: 75px;
    }
}