.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px; 
    flex-direction: column;
}

#password, #username, #email, #confirmPassword{
    border: 2px green solid;
    height: 60px;
    width: 200px;
    font-size: 20px;
    border-radius: 5px;
    margin: 10px;
}

.container input:focus{
    outline-color: green;
}

body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            text-align: center;
            background-image: linear-gradient(rgba(0,0,0,7),rgba(0,0,0,7)), url(../static/images/img21.jpg);
            background-size: cover;
        }

        .login-container {
            max-width: 300px;
            margin: auto;
            padding: 20px;
            background-color: #FFFFFF;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 50px;
        }

        .label {
            display: block;
            text-align: left;
            margin: 10px 0 5px;
        }

        .input {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            box-sizing: border-box;
        }

        .button {
            background-color: #4caf50;
            color: #ffffff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            width: 70px;
            height:40px;
            cursor: pointer;
        }

        .button:hover{
            opacity: 0.8;
            width: 80px;
            height: 50px;
            font-size: medium;
        }

        .footer {
            background-color: #2ecc71; 
            color: white;
            padding: 2px;
            text-align: center;
            position: fixed;
            bottom: 0;
            height: 40px;
            width: 100%;
          }