:root {
    --primary-color: #1abc9c;
    /* Turquoise */
    --secondary-color: #16a085;
    /* Green Sea */
    --accent-color: #2ecc71;
    /* Emerald */
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    height: 300px;
    flex-direction: column;
}

#password,
#username,
#email,
#lastname,
#firstname,
#confirmPassword {
    border: 1px var(--primary-color) solid;
    height: 15%;
    width: 80%;
    font-size: 20px;
    border-radius: 5px;
    margin: 10px;
    padding-left: 10px;
}

.container input:focus {
    outline-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);

}

body {
    font-family: Arial, sans-serif;
    background-color: #e0d2d2;
    text-align: center;
}

.login-container {
    max-width: 400px;
    margin: auto;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
}

.input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.button {
    background-color: var(--secondary-color);
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    width: 70px;
    height: 40px;
    cursor: pointer;
}

.button:hover, .button:focus{
    opacity: 0.8;
}