/* .card { 
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  width: 280px;
  height: 320px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}*/

.card img {
  width: 280px;
  height: 50px;
  object-fit: cover;
}

.card-content {
  padding: 10px;
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.card-description {
  color: #555;
}

#searchBar {
  padding: 10px;
  flex: 1;
  width: 70%;
  margin: 4px auto;
  text-align: left;
  display: inline-block;
  position: center;
}

.login-link {
  padding: 20px;
  box-sizing: border-box;
}

#search_text {
  width: 297px;
  padding: 15px 0 15px 20px;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  border: 0 none;
  height: 40px;
  margin-right: 0;
  color: white;
  outline: none;
  background: #0e0f0f;
  float: left;
  box-sizing: border-box;
  transition: all 0.15s;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust the minimum and maximum width of each column */
  gap: 10px; /* Adjusts the gap between images */
}

/* Style for each image in the grid */
.image-grid img {
  width: 80%; /* Make sure each image takes up 100% of its container */
  height: auto; /* Maintain the aspect ratio of the images */
  border: 1px solid #ddd; /* Optional: Add a border around each image */
  border-radius: 4px; /* Optional: Add rounded corners to each image */
}

.footer {
  background-color: #2ecc71; 
  color: white;
  padding: 5px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}